@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --white: hsl(0, 0%, 100%);
  --light-pink:hsl(275, 100%, 97%);
  --greyish-purple:hsl(292, 16%, 49%);
  --dark-purple:hsl(292, 42%, 14%);
  --font-family: 'Work Sans', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  background-color: var(--light-pink);
  font-family: var(--font-family);
}
